* {
  border-collapse: collapse; }

.container {
  width: 100%;
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .map {
    width: 1200px;
    height: 600px;
    position: relative;
    background-color: greenyellow;
    border: none;
    display: flex;
    justify-content: center; }
    .container .map .info {
      width: 300px;
      height: 200px;
      border: 1px solid black;
      background-color: wheat;
      font-size: 20px;
      z-index: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container .map .aboutEl {
      width: 200px;
      height: 500px;
      border: 1px solid red; }

.player {
  background: url("../images/guy1.png") center no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  width: 90px;
  height: 120px;
  top: 50%;
  left: 50%;
  border: none;
  z-index: 1; }

.letter {
  width: 150px;
  height: 150px;
  border: 5px solid red;
  left: 0;
  top: 0;
  position: absolute; }

.about {
  width: 150px;
  height: 150px;
  border: 5px solid yellow;
  left: 100%;
  top: 100%;
  position: absolute;
  transform: translate(-100%, -100%); }

.skillsAndHobby {
  width: 150px;
  height: 150px;
  border: 5px solid blue;
  left: 100%;
  top: 0;
  position: absolute;
  transform: translate(-100%, 0%); }

.exp {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  left: 0%;
  top: 100%;
  position: absolute;
  transform: translate(0%, -100%); }
