@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);

* {
  border-collapse: collapse;
  font-family: "Patrick Hand SC", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  .map {
    width: 1200px;
    height: 600px;
    position: relative;
    background-color: greenyellow;
    border: none;
    display: flex;
    justify-content: center;
    .info {
      width: 300px;
      height: 200px;
      background-color: wheat;
      font-size: 20px;
      z-index: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
    }
    .letter {
      width: 150px;
      height: 150px;
      border: 5px solid red;
      left: 0;
      top: 0;
      position: absolute;
    }
    .letterEl {
      width: 300px;
      height: 400px;
      background-color: wheat;
      border: 2px solid black;
      text-align: center;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
    .about {
      width: 150px;
      height: 150px;
      border: 5px solid yellow;
      left: 100%;
      top: 100%;
      position: absolute;
      transform: translate(-100%, -100%);
    }

    .aboutEl {
      width: 300px;
      height: 400px;
      background-color: wheat;
      border: 2px solid black;
      text-align: center;
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }

    .skillsAndHobby {
      width: 150px;
      height: 150px;
      border: 5px solid blue;
      left: 100%;
      top: 0;
      position: absolute;
      transform: translate(-100%, 0%);
    }
    .exp {
      width: 150px;
      height: 150px;
      border: 5px solid black;
      left: 0%;
      top: 100%;
      position: absolute;
      transform: translate(0%, -100%);
    }
  }
}

.player {
  background: url("../images/guy1.png") center no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  width: 90px;
  height: 120px;
  top: 250px;
  left: 555px;
  border: none;
  z-index: 1;
}

.border-2 {
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
  border-bottom-right-radius: 20px 205px;
  border-bottom-left-radius: 185px 25px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, .2);
}

.border-3 {
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, .2);
}